// Fonts
@import url("https://fonts.googleapis.com/css?family=Sarabun:100,200,300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster");

$fPrimary: "Sarabun", sans-serif;
$fSecondary: "Lobster, cursive";
$fHandWriting: "Great Vibes, cursive";
// Color Basic
$white: #ffffff;
$black: #000000;
$grey: #808080;

// Color Costum
$cPrimary: #f7f7f7;
$cSecondary: #0b6ab7;
$cDarkblue: #013063;

// Color Text
$tPrimary: #666666;
$tSecondary: #262626;

// Bg Color
$bgBody: #f4f4f4;
